body{
    padding: 0px;
    background: rgb(246, 248, 252);
    
}
/**********************************mon header**************************************/
.container__header{
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    padding: 2px;
    


}
.container__header--width{
    margin-right: 6rem;
}
.imgContact{
    width: 40px;
    height: 44px;
}


.formSearch{
    display: flex;
    background: rgb(242, 243, 244);
    border-radius: 7px ;
    width: 35rem;
    box-shadow: 15px;
    margin-right: 17rem;
    
    
}
.searchBar{
    width: 30 rem;
    display: flex;


}
.inputSerch{
    border: none;
    width: 50%;
    background: none;

        
}

.contact__header, .containerDeroule__left{
    display: flex;
    margin-left: 1rem;
    position: relative;
    align-items: center;
    


}
.header__icon, .imgContact, .left__icon{
    padding: 10px;
    margin: 0ps, 2px;
    width: 28px;
    height:28px;
    color: rgb(96, 99, 103);
        

}
/***************************************fin de mon header**********************/
/*******************contenu du menu burger*****************/

.containerDeroule__left{
    display: flex;
    margin: 1rem;
      
}
.Contact{
    color:rgb (25,91,197) ;
}
.sectionleft{
    background: yellow;
    width:15%;
}
.containerDeroule__left--bold{
    font-weight: bold;
}

.hideSection {
    display: none;
}



    .containerDeroule__left-BGblue{
        background:rgb(187, 220, 249);
    }
    .containerDeroule__left-borderRadius{
        border-radius: 10px;
    }
    .containerDeroule__left--bgbluecont{
        border-radius: 25px;
    }
    .buttun__creerContact{
        display: flex;
        align-items: center;
        width: 10rem;
        margin: 1rem;
        border: none;

    }
    .containerDeroule__options{
        width: 100%;
    }
    .containerDeroule__left--spaceBetwin{
        display: flex;
        justify-content: space-between;
    }       

/*********************************************fin deroulement du menu burger******************************************/

/*********************** my section right*******************************/

.mySections{
    display: flex;
    width:100%;
   
    
}
.item{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background:white;
    width: 100%;
    padding: 14px;
   
    

    
}
.table{
    border-collapse: collapse;
}
.caption{
    font-weight: bold;
    font-size:x-large;
    position: relative;
    float: left;
    margin: 1rem;
    color: rgb(69, 71, 70);
}
.table__lign--ligne{
    border-bottom: 2px solid rgb(233, 233, 233);
}
.table__lign{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
   
 
    height: 2rem;

    

}


.item__tab{
    
    width:20%;
    font-weight: lighter;
    text-align: start;
 
}


.container__right{
width: 100%;
    
}
.contactList{
   background:rgb(255, 255, 255);
   margin-left:3px;
   width:100%;
   border-radius: 7px;
   
}
.contact__right{
    margin-left: 1rem;
}

.hideNewContactSection {
    display: none;
}

.rightSection {
    height: 100%;
    width: 85%;
    
    
    /* border: solid,black, 1rem; */
}


.rightSection__width{
    width: 100%;
}

/*********************************************** fin     my  section right *********************************************************/
/****************************************   debut new contact      ****************************************/
.newcontact{
    width: 50%;
    margin-left: 2rem;
}
.newForm{
    width: 80%;
   
}
.newcontact--profil{
    



}
.inputForm{
    height: 2rem;
    background: red;
    width: 40rem;

}
.divNewForm{
    margin-bottom: 1rem;
    display: flex;
    background: #000;
    
}
.inputForm--separateur{
    margin-bottom: 0.5rem;
}
.divNewForm--form{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(238, 242, 247);
}

.divNewForm--borderRadius{
    border-radius: 20px;
}
.divNewForm--BGblue{
    background:rgb(238, 242, 247);
}
.inputForm__phoneNumber{
    width: 80%;
    
    
}
.FormZonePays{
    display: flex;
}
.inputForm__contrycode{
    width: 20%;

    
}
.inputContry {
    display: flex;
    align-items: center;
    
}
.newcontact--profil{
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    align-items: center;
    text-align:center ;
    justify-content: center;
    border-radius: 50%;
        
}
.newcontactProfil--profil{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 2rem;
       
}

.newcontact__plus--profil{
    width: 40px;
    height:40px;
    background: rgb(39, 86, 201);
    border-radius: 50%;
    position: relative;
    right: 50px;
    top: 45px;
    border: solid white 5px;

}
.newcontactPlus--profil{
    width: 28px;
    height:28px;
    
}
.submit__newContactbutton{
    background: rgb(227, 227, 227);
    width: 7rem;
    height:2rem;
    border-radius: 17px;
    border: none;
    color: rgb(168, 168, 168);
}
.header__newContact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 2rem;
    width: 55%;

}
.header__newContact--starButton{
    display: flex;
    align-items: center;
}

.hideNewContactSection__padding{
    padding-left: 3rem;
    
}

.divNewForm__libeleeform{
    width: 5rem;
    height: 1.5rem;
    border: solid rgb(168, 168, 168) 1px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/****************************************   fin new contact      ****************************************/
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  debut libellee section   $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.libeleeSection{
    width: 30%;
    background: rgb(239, 243, 250);
    background:white;
    border-radius: 30px;
    
}
    
    

.libeleeSectionDisplay{
    display: none;
}


.inputLibellée{
    border-color: rgb(86, 125, 212);
    color: rgb(86, 125, 212);
    padding-bottom: 2rem;

}

.libeléeOption{
    color: rgb(86, 125, 212);
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;


}
.libeléeOption__p{
    padding-right: 1rem;
}
.button__libelle{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.inputLibellée__champ{
    color-interpolation-filters: beige;
}
.inputLibelee{
    width: 100%;
    border: none;
}
 
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  fin libellee section   $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
